<section class="page-title">
    <div class="container">
        <div class="inner align-center">
            <h1 class="title">{{translate.pages.mobile.title}}</h1>
            <div class="desc">{{translate.pages.mobile.description}}</div>
        </div>
    </div>
</section><!-- PAGE TITLE -->
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-align-c">
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item1.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item1.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-1.png" alt="Banner"
                    style="max-width: 300px;">
            </div>
        </div>
    </div>
</section>
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-1.png" alt="Banner" style="max-width: 300px;">
            </div>
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item2.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item2.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-align-c">
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item3.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item3.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-3.png" alt="Banner"
                    style="max-width: 300px;">
            </div>
        </div>
    </div>
</section>
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-4.png" alt="Banner" style="max-width: 300px;">
            </div>
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item4.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item4.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-align-c">
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item5.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item5.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-5.png" alt="Banner"
                    style="max-width: 300px;">
            </div>
        </div>
    </div>
</section>
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-5.png" alt="Banner" style="max-width: 300px;">
            </div>
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item6.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item6.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section spdt mb-5">
    <div class="container">
        <div class="row flex-align-c">
            <div class="col-lg-6">
                <div class="pdl50 pdr80">
                    <div class="heading mb24">
                        <h2 class="heading-title">{{translate.pages.mobile.data.item7.title}}</h2>
                        <div class="heading-desc">{{translate.pages.mobile.data.item7.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <img class="img07 wow animate__fadeInUp" src="/public/images/services/mobile-2.png" alt="Banner"
                    style="max-width: 300px;">
            </div>
        </div>
    </div>
</section>